*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
}

header{
  width: 100%;
  border-bottom: 1px solid #5f6368;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

.logo{
  margin: 20px 30px;
  display: inline-block;
}

.logo img{
  height: 40px;
}

.name{
  font-size: 25px;
  line-height: 84px;
  color: #5f6368;
  vertical-align: top;
  display: inline-block;
}

ul{
  list-style: none;
  margin-left: 15px;
}

ul li{
  padding: 15px;
  font-size: 20px;
  color: #5f6368;
  display: inline-block;
}

ul li:last-child{
  color: #3367d6;
  border-bottom: 3px solid #3367d6;
}

.container{
  width: 80%;
  margin: 200px auto;
}

h2{
  margin-top: 60px;
  color: #3c4043;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

p{
  padding: 20px 0;
  font-size: 15px;
  color: #3c4043;
}